<div id="news-id-{{this._id}}" class="row news-item">
    <div class="col-11">
        <h1>{{this.title}}</h1>
        <p>{{this.subhead}}</p>
        <a target="_blank" href={{this.link}}>Read More</a>
    </div>
    <div class="col-1">
        <div class="row">
            <a href="/fav/{{this.id}}">
                <img class="news-icon" id="fav-heart-{{this._id}}" title="Click to favorite article"
                    src="https://cdn0.iconfinder.com/data/icons/christmas-set5/100/218-512.png" height="75px"
                    width="75px">
            </a>
            <p>Via: {{this.articleSource}}</p>
        </div>
    </div>
</div>